.azul {
  background: rgb(19, 101, 150);
  background: linear-gradient(
    90deg,
    rgba(19, 101, 150, 1) 0%,
    rgb(37, 150, 248) 50%,
    rgb(94, 177, 255) 100%
  );
}
.rosa {
  background: rgb(223, 14, 100);
  background: linear-gradient(
    90deg,
    rgba(223, 14, 100, 1) 0%,
    rgba(248, 22, 131, 1) 50%,
    rgba(255, 82, 193, 1) 100%
  );
}
.amarelo {
  background: rgb(254, 198, 56);
  background: linear-gradient(
    90deg,
    rgba(254, 198, 56, 1) 0%,
    rgba(253, 171, 28, 1) 50%,
    rgba(254, 228, 90, 1) 100%
  );
}
.laranja {
  background: rgb(247, 138, 35);
  background: linear-gradient(
    90deg,
    rgba(247, 138, 35, 1) 0%,
    rgba(238, 90, 56, 1) 50%,
    rgba(252, 156, 24, 1) 100%
  );
}
.txtrosa{
  color: rgb(223, 14, 100);
}